.env
.venv/
.venv-topic/
.venv-py39-backup/
__pycache__/
*.py[cod]
corpus.jsonl
training_questions.jsonl
MSMARCO_dataset/corpus_msmarco.jsonl
MSMARCO_dataset/training_questions_msmarco.jsonl
tokenizer.json
*.parquet
*.jsonl
*.pt
generated_embedding_cache.npz
MSMARCO_dataset/generated_llm_text_msmarco.jsonl
generated_llm_text.jsonl
tokenizer.json
MSMARCO_dataset/generated_llm_text_msmarco_embeddings.jsonl
